@import 'tailwindcss';

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

.rich-text p {
    margin-top: 2px;
    margin-bottom: 2px;
}

.rich-text ul {
    list-style-position: outside;
}

.rich-text ul li {
    list-style-type: circle;
    margin-left: 32px;
}

.rich-text ul li li {
    list-style-type: square;
    margin-left: 24px;
}
