node_modules
*/.pnp
.pnp.js

# Output
.output
.vercel
.netlify
.wrangler
/*/.svelte-kit
/*/build
/*/dist
/*/.sanity

# Env
.env
.env.*
!.env.example
!.env.test

# Config
sanity.cli.ts

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Logs
/*/logs
*.log

# Miscellaneous
.DS_Store
Thumbs.db
/*/coverage
*.pem
*.tsbuildinfo
*.local
