@import 'tailwindcss';
@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';
@import '@skeletonlabs/skeleton/themes/hamlindigo';

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

:root {
    --link-hover-color: var(--color-primary-600);
    --link-active-color: var(--color-primary-800);
    --btn-hover-color: var(--color-primary-600);
    --btn-active-color: var(--color-primary-800);
}

.btn-like {
    transition-property: color, background-color, border-color, box-shadow;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-duration: 0.4s;
    @media (hover: hover) {
        &:hover {
            --btn-bg: var(--btn-hover-color);
        }
    }
    &:active {
        background-color: var(--btn-active-color);
    }
}

/* font-bold text-xl my-3 */
.side-nav div {
    font-weight: var(--font-weight-bold);
    font-size: calc(1.25rem * var(--text-scaling));
    line-height: var(--tw-leading, calc(calc(1.75 / 1.25) * var(--text-scaling)));
    margin-block: calc(var(--spacing) * 3);
}

/* mx-3 my-3 */
.side-nav a {
    margin-inline: calc(var(--spacing) * 3);
    margin-block: calc(var(--spacing) * 3);
    &:hover {
        @media (hover: hover) {
            color: var(--link-hover-color);
        }
    }
    &:active {
        color: var(--link-active-color);
    }
}

.rich-text p {
    margin-top: 2px;
    margin-bottom: 2px;
}

.rich-text ul {
    list-style-position: outside;
}

.rich-text ul li {
    list-style-type: disc;
    margin-left: 16px;
}

.rich-text ul li li {
    list-style-type: square;
    margin-left: 24px;
}

.rich-text ul li li li {
    list-style-type: circle;
    margin-left: 24px;
}
