@import 'tailwindcss';
@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';
@import '@skeletonlabs/skeleton/themes/hamlindigo';

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

:root {
  --link-hover-color: var(--color-tertiary-400);
  --link-active-color: var(--color-tertiary-300);
  --button-hover-color: var(--color-tertiary-700);
  --button-active-color: var(--color-tertiary-900);
  --button-inverse-color: var(--color-tertiary-100);
}

.link {
  &:hover {
    color: var(--link-hover-color);
    text-decoration: underline;
  }
  &:active {
    color: var(--link-active-color);
    text-decoration: underline;
  }
}

.rich-text p {
  margin-top: 1px;
  margin-bottom: 1px;
}

.rich-text ul {
  list-style-position: outside;
}

.rich-text ul li {
  list-style-type: disc;
  margin-left: 16px;
}

.rich-text ul li li {
  list-style-type: circle;
  margin-left: 24px;
}

.rich-text ul li li li {
  list-style-type: square;
  margin-left: 24px;
}
