@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@import '@skeletonlabs/skeleton';

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';

:root {
  --very-light-color: #FFF6E0;
  --light-color: #FFEEC7;
  --semi-light-color: #FFE29E;
  --dark-color: #151515;
  --hover-color: #FF8133;
}

.main-style {
  background-color: var(--very-light-color);
  color: var(--dark-color);
  font-family: "Open Sans", sans-serif;

  @media (prefers-color-scheme: dark) {
    background-color: var(--dark-color);
    color: var(--very-light-color);
  }
}

.menu-colors {
  background-color: var(--dark-color);
  color: var(--very-light-color);
}

.badge-colors {
  background-color: var(--light-color);
  border-color: var(--semi-light-color);

  @media (prefers-color-scheme: dark) {
    color: var(--dark-color);
  }
}

.link {
  &:hover {
    color: var(--hover-color);
    text-decoration: underline;
  }
}

.subheading {
  font-weight: 600;
  color: color-mix(in srgb, currentColor 63%, transparent);
}

.rich-text p {
  margin-top: 1px;
  margin-bottom: 1px;
}

/* Empty lines in Sanity blocks are represented as <p></p> but aren't rendered with actual spacing, so add a margin. */
.rich-text ul + p {
  margin-top: 12px;
}

.rich-text ul {
  list-style-position: outside;
}

.rich-text ul li {
  list-style-type: disc;
  margin-left: 16px;
}

.rich-text ul li li {
  list-style-type: circle;
  margin-left: 24px;
}

.rich-text ul li li li {
  list-style-type: square;
  margin-left: 24px;
}

.min-height {
  height: min-content;
}
