@import 'tailwindcss';
@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';
@import '@skeletonlabs/skeleton/themes/hamlindigo';

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

:root {
    --link-hover-color: var(--color-surface-400);
    --link-active-color: var(--color-surface-300);
    --btn-hover-color: var(--color-surface-300);
    --btn-active-color: var(--color-surface-100);
}

.link {
    &:hover {
        @media (hover: hover) {
            color: var(--link-hover-color);
        }
    }
    &:active {
        color: var(--link-active-color);
    }
}

.bg-hover {
    &:hover {
        @media (hover: hover) {
            background-color: var(--btn-hover-color);
        }
    }
    &:active {
        background-color: var(--btn-active-color);
    }
}

/* font-bold text-xl my-3 */
.side-nav-header {
    font-weight: var(--font-weight-bold);
    font-size: calc(1.25rem * var(--text-scaling));
    line-height: var(--tw-leading, calc(calc(1.75 / 1.25) * var(--text-scaling)));
    margin-block: calc(var(--spacing) * 3);
}

/* mx-5 my-3 */
.side-nav-link {
    margin-inline: calc(var(--spacing) * 5);
    margin-block: calc(var(--spacing) * 3);
}

.link-card {
    border-radius: var(--radius-md);
    border-style: var(--tw-border-style);
    border-width: 1px;
    border-color: var(--color-surface-200);

    padding: calc(var(--spacing) * 5);

    --tw-shadow: 0 25px 50px -12px var(--tw-shadow-color, rgb(0 0 0 / 0.25));
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);

    transition-property: color, background-color, border-color, box-shadow;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-duration: 0.3s;
    &:hover {
        @media (hover: hover) {
            background-color: var(--btn-hover-color);
            border-color: var(--btn-hover-color);
        }
    }
    &:active {
        background-color: var(--btn-active-color);
        border-color: var(--btn-active-color);
    }
}

/* grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 gap-10 mx-5 sm:mx-10 md:mx-20 xl:mx-30 */
.link-card-grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    @media (width >= 40rem /* 640px */) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    @media (width >= 64rem /* 1024px */) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    @media (width >= 96rem /* 1536px */) {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    gap: calc(var(--spacing) * 10);
    margin-inline: calc(var(--spacing) * 5);
    @media (width >= 40rem /* 640px */) {
        margin-inline: calc(var(--spacing) * 10);
    }
    @media (width >= 48rem /* 768px */) {
        margin-inline: calc(var(--spacing) * 20);
    }
    @media (width >= 80rem /* 1280px */) {
        margin-inline: calc(var(--spacing) * 30);
    }
}

.rich-text p {
    margin-top: 2px;
    margin-bottom: 2px;
}

.rich-text ul {
    list-style-position: outside;
}

.rich-text ul li {
    list-style-type: disc;
    margin-left: 16px;
}

.rich-text ul li li {
    list-style-type: square;
    margin-left: 24px;
}

.rich-text ul li li li {
    list-style-type: circle;
    margin-left: 24px;
}
